body {
  font-family:Verdana, Geneva, sans-serif;
  font-size:10pt;
  color:#828282;
  width: 85%;
  margin: auto;
  div {
    background-color: #f6f6ef;
  }
}

.top-links {
  margin-top: .5rem;
  background-color: #ff6600;
  display: flex;
  align-items: center;
  justify-content: space-between;
  a:visited {
    // override normal behaviour so the top links don't change appearance
    color: #000000;
  }
}

#top-left-links {
  display: flex;
  align-items: center;
}

#top-left-links {
  display: flex;
  align-items: center;
}

.Ylogo {
  border: 1px white solid;
  height: 18px;
  width: 18px;
  margin: 2px;
}

#link-labels {
  margin-left: 1em;
}

#login-link {
 align-self: right; 
 margin-right: .5em;
}

.below-nav {
  height: 1em;
  display: block;
}

.article-num {
  display: inline-block;
  width: 2rem;
  text-align: right;
  margin-right: 1rem;
}

.article-site {
  font-size: 8pt;
}

.article-bottom-line {
  font-size: 7pt;
}

.between-articles {
  height: .1em;
  display: block;
}

.ycombinator-links {
  font-family:Verdana, Geneva, sans-serif;
  font-size:  8pt;
  display: table;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 2rem;
}

a:link    { color:#000000; text-decoration:none; }
a:visited { color:#828282; text-decoration:none; }

.rotate180 {
  -webkit-transform: rotate(180deg);  /* Chrome and other webkit browsers */
  -moz-transform:    rotate(180deg);  /* FF */
  -o-transform:      rotate(180deg);  /* Opera */
  -ms-transform:     rotate(180deg);  /* IE9 */
  transform:         rotate(180deg);  /* W3C complaint browsers */

  /* IE8 and below */
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=-1, M12=0, M21=0, M22=-1, DX=0, DY=0, SizingMethod='auto expand')";
}

/* mobile device */
@media only screen
and (min-width : 300px)
and (max-width : 750px) {
  body { padding: 0; margin: 0; width: 100%; -webkit-text-size-adjust: none; }
}
