<nav>
  <div class="top-links">
    <a href="/">
      <img src="/Y.gif" class="Ylogo">
    </a>
    <span id=link-labels>
      <b><a href="https://news.ycombinator.com/news">Hacker News</a></b>
      <a href="https://news.ycombinator.com/newest">new</a> | <a href="https://news.ycombinator.com/newcomments">comments</a> | <a href="https://news.ycombinator.com/show">show</a> | <a href="https://news.ycombinator.com/ask">ask</a> | <a href="https://news.ycombinator.com/jobs">jobs</a> | <a href="https://news.ycombinator.com/submit">submit</a>
    </span>
    <span id=login-link>
      <a href="login?goto=news">login</a>
    </span>
  </div>
</nav>
